@import 'bulma/css/bulma.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Botón flotante de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #16d248; /* Color de WhatsApp */
  color: white;
  border-radius: 50%; /* Redondeo completo */
  padding: 10px; /* Tamaño reducido */
  width: 50px; /* Hacemos el botón más pequeño */
  height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px; /* Tamaño del icono más pequeño */
  z-index: 100;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  animation: floatAnimation 1.5s ease-in-out infinite; /* Animación flotante */
  display: flex; /* Centrado del icono */
  justify-content: center;
  align-items: center;
}

/* Hover del botón */
.whatsapp-button:hover {
  background-color: #16d248; /* Color oscuro de WhatsApp al pasar el cursor */
  transform: translateY(-5px); /* Efecto de "flotado" al pasar el mouse */
}

/* Mensaje flotante del botón */
.whatsapp-tooltip {
  position: absolute;
  bottom: 60px; /* Posición por encima del botón */
  right: 50%;
  transform: translateX(50%);
  background-color: #128C7E; /* Fondo del mensaje */
  color: white;
  padding: 5px 15px; /* Ajuste para texto más largo */
  border-radius: 10px; /* Bordes redondeados */
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, width 0.3s ease; /* Transiciones suaves */
  white-space: nowrap; /* Para que el texto no haga saltos de línea */
}

.whatsapp-button:hover .whatsapp-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px) scale(1.05); /* Eleva y agranda ligeramente al pasar el mouse */
}

.whatsapp-tooltip:active {
  transform: translateY(-10px) scale(1); /* Regresa al tamaño original al hacer clic */
}


/* Animación flotante */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Mueve el botón hacia arriba */
  }
  100% {
    transform: translateY(0);
  }
}

/*estilo de navbar*/
.navbar {
  background-color: #406182; /* Fondo oscuro */
  transition: background-color 0.3s ease;
}

.navbar.is-fixed-top {
  position: sticky;
  top: 0;
  z-index: 200;
  transition: background-color 0.5s ease-in-out;
}

.navbar-item:hover {
  color: #16a085; /* Cambia el color cuando se pasa el cursor */
  transition: color 0.3s ease;
}

/*imagen de fondo*/
.section-image {
  background-image: url('../public/img/cocina.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
}

.section-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

/*footer*/
.footer {
  background-color: #e9d9d9;
  padding: 20px 0;
  margin-top: 40px;
  border-top: 2px solid #00b894; /* Línea separadora */
}

.footer .title {
  color: #2d3436;
  margin-bottom: 5px;
}

.footer .subtitle {
  color: #636e72;
  margin-bottom: 15px;
}

.footer .links a {
  color: #00b894;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
  transition: all 0.3s ease; /* Agregar transición suave */
}

/* Meneo cuando el mouse pasa sobre los enlaces */
.footer .links a:hover {
  text-decoration: underline;
  color: #2d3436;
  animation: shake 0.5s ease-in-out;
}

/* Animación de meneo */
@keyframes shake {
  0% {
    transform: translateX(0); /* Comienza sin desplazarse */
  }
  25% {
    transform: translateX(-5px); /* Mueve a la izquierda */
  }
  50% {
    transform: translateX(5px); /* Mueve a la derecha */
  }
  75% {
    transform: translateX(-5px); /* Mueve a la izquierda */
  }
  100% {
    transform: translateX(0); /* Vuelve a la posición original */
  }
}

.footer .copyright {
  color: #636e72;
  margin-top: 10px;
  font-size: 14px;
}




/*Section Recetas*/
/* Sección de Recetas */
.section-recipes {
  background-color: #f4f4f4; /* Fondo suave y elegante */
  padding: 50px 20px;
  text-align: center;
}

/* Título de la Sección */
.section-recipes .title {
  font-size: 32px;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Contenedor del Grid */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Columna flexible */
  gap: 20px;
  justify-items: center;
}

/* Elemento de cada receta */
.recipe-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px;
}

.recipe-item:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
  box-shadow: 0 6px 20px rgba(217, 115, 115, 0.2); /* Sombra más fuerte al hacer hover */
}

/* Imagen de la receta */
.recipe-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Título y Descripción */
.recipe-item h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
}

.recipe-item p {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.5;
}


/*Seccion de carta o menu*/
/* Sección de la Carta */
.section-menu {
  background-color: #f9f9f9; /* Fondo neutro y suave */
  padding: 50px 20px;
  text-align: center;
}

/* Título de la Sección */
.section-menu .title {
  font-size: 32px;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 40px;
}

/* Contenedor del Grid de la Carta */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columna flexible */
  gap: 20px;
  justify-items: center;
}

/* Elemento de cada ítem del menú */
.menu-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 100%;
  max-width: 350px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0; /* Inicialmente oculto */
  animation: slideIn 0.5s ease-in-out forwards;
}

.menu-item:nth-child(1) {
  animation-delay: 0.2s; /* Retardo para animaciones */
}
.menu-item:nth-child(2) {
  animation-delay: 0.4s;
}
.menu-item:nth-child(3) {
  animation-delay: 0.6s;
}

/* Animación de entrada de los elementos */
@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hover del ítem del menú */
.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen de cada ítem del menú */
.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Detalles del ítem del menú (título, descripción y precio) */
.menu-details {
  text-align: left;
}

.menu-details h3 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
}

.menu-details p {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.5;
  margin-bottom: 10px;
}

.menu-details .price {
  font-size: 20px;
  color: #e74c3c;
  font-weight: bold;
}

/* Animación de la carta al abrirse */
@keyframes openMenu {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/*PRESENTACION*/
/* Sección Hero */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #000;
}

.hero-content {
  z-index: 1;
  padding: 0 20px;
  animation: fadeIn 2s ease-in-out;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  opacity: 0;
  animation: slideUp 1s forwards;
}

.hero-title span {
  color: #ff4500;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 15px;
  opacity: 0;
  animation: slideUp 1.5s forwards;
  animation-delay: 0.5s;
}

.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 30px;
  margin: 0 10px;
  font-size: 1rem;
  color: #fff;
  background: #ff4500;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background: #e63e00;
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(255, 69, 0, 0.5);
}

.cta-button.secondary {
  background: #333;
}

.cta-button.secondary:hover {
  background: #111;
}

/* Animaciones */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/*COCINEROSS*/
#seccion-cocineros {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.tarjeta-cocinero {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.tarjeta-cocinero:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
}

.imagen-cocinero {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.imagen-cocinero img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.imagen-cocinero:hover img {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.titulo-cocineros {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.columnas-cocineros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.columna-cocinero {
  margin-bottom: 30px;
  flex-basis: 22%;
  max-width: 300px; /* Asegura que las tarjetas no se expandan demasiado */
}

.nombre-cocinero {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.rol-cocinero {
  font-size: 1.1rem;
  color: #007bff;
  margin-top: 5px;
}

.descripcion-cocinero {
  color: #555;
  font-size: 0.95rem;
  padding: 10px;
  text-align: justify;
}

.descripcion-cocinero p {
  margin: 0;
}

@media (max-width: 768px) {
  .columna-cocinero {
    flex-basis: 45%;
  }
}

@media (max-width: 480px) {
  .columna-cocinero {
    flex-basis: 100%;
  }
}
